services:
  nginx:
    build:
      target: base
    depends_on:
      - chat-service
      - user-service
      - nextjs
      - game-service
      - prometheus
      - kibana

  nextjs:
    build:
      target: production
    # env_file:
    #   ./services/chat-service/.env

  game-service:
    build:
      target: production
    env_file:
      ./services/game-service/.env
    volumes:
      - ./logs:/app/logs

  user-service:
    build:
      target: production
    env_file:
      ./services/user-service/.env
    volumes:
      - ./logs:/app/logs

  chat-service:
    build:
      target: production
    env_file:
      ./services/chat-service/.env
    volumes:
      - ./logs:/app/logs