services:
  nginx:
    build:
      target: base
    depends_on:
      - chat-service
      - user-service
      - nextjs
      - game-service

  nextjs:
    build:
      target: production

  game-service:
    build:
      target: production
    env_file:
      ./services/game-service/.env

  user-service:
    build:
      target: production
    env_file:
      ./services/user-service/.env

  chat-service:
    build:
      target: production
    env_file:
      ./services/chat-service/.env