services:
  nginx:
    build:
      target: base
    depends_on:
      - chat-service
      - user-service
      - nextjs
      # - game-service
      # - prometheus
      # - kibana

  nextjs:
    build:
      target: development
    volumes:
      - ./frontend:/app
    # ports:
    #   - "3000:3000"
    env_file:
      ./services/chat-service/.env

  game-service:
    build:
      target: development
    volumes:
      - ./services/game-service:/app
      - ./logs:/app/logs
    env_file:
      ./services/game-service/.env.dev
  #   ports:
  #     - "4000:4000"
  # game-service:
  #   build:
  #     target: development
  #   volumes:
  #     - ./services/game-service:/app
  #   env_file:
  #     ./services/game-service/.env.dev
  #   ports:
  #     - "4000:4000"

  user-service:
    build:
      target: development
    env_file:
      ./services/user-service/.env
    volumes:
      - ./services/user-service/:/app
      - ./logs:/app/logs

  chat-service:
    build:
      target: development
    env_file:
      ./services/chat-service/.env
    volumes:
      - ./services/chat-service/:/app
      - ./logs:/app/logs
