.badge {
    width: fit-content;
    position: relative;
}

.imageWrapper {
 border: 8px solid gold;
 border-radius: 50%;
}

.rank {
    position: absolute;
    background-color: gold;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: black;
    font-size: 1.5rem;
}
