.container {
    display: flex;
    justify-content: center;
}

.canvas {
    background-color: #F2EDD1;
}

.btn {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    padding: 6px 16px;

}