#container {
    display: flex;
    justify-content: center;
}

#container > div {

    max-width: 960px;
}

#container > div > h1 {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    color: var(--gray-50);
    margin-bottom: 32px;
}

#container > div > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
}

#container > div > div > div {
    display: flex;
    align-items: center;
    gap: 24px;
    background-color: var(--gray-800);
    border-radius: 16px;
    overflow: hidden;

}

#container > div > div > div > img {
    width: 220px;
}

#container > div > div > div > div > div > h3 {
    font-size: 28px;
    font-weight: bold;
    color: var(--color-gray-50);
    padding-bottom: 8px;
}

#container > div > div > div > div > div > p {
    font-size: 18px;
    color: var(--gray-200);
}

#container > div > div > div > div > a {
    background-color: var(--purple);
}