.container {
  display: flex;
  justify-content: center;
}

.canvas {
  background-color: #f2edd1;
}

.btn {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  padding: 6px 16px;
}
